/****************************************
*
* Base stylesheet
*
*****************************************/

html {
  font-size: $baseFontSize;
}

html,
body {
  width:100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: $Montserrat-font;
  font-weight: $regular;
  color: $txtColour;
  @include font-size(20);

  & > section {
    overflow: hidden;
  }
}

a,
button {
  display: block;
  outline: none;

  &.btn {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    border-radius: 8px!important;


    &.link-btn {
      height: 44px;
      border: 2px solid $white;
      margin:20px 0;
      font-family: $brandFont;
      font-weight: $regular;
      @include font-size(18);
      color: $white;
      line-height: 38px;
      text-align: center;
      transition: all 0.5s ease-in-out;

      &.inverse {
        border-color: $black;
        color: $black;
      }

      &.primary {
        background-color: transparent;
        border-color: $brandPrimary;
        color: $brandPrimary;
      }
    }


    &.brand-btn {
      background-color: $brandPrimary;
      border:1px solid $brandPrimary;;
      color: $white;
      font-family: $brandFont;
      font-weight: $regular;
      letter-spacing: 0.0055rem;
      @include font-size(18);
      transition: all 0.5s ease-in-out;

      &.brand-red {
        background-color: $brandTertiary;
        border-color: $brandTertiary;
      }

      &.brand-reverse {
        background-color: transparent;
        border-color: $brandPrimary;
        color: $brandPrimary;
      }
    }

    &.wide-btn {
      padding: 0 100px;

    }
  }

  &:hover {

    &.btn {

      &.brand-btn {
        background-color: $white;
        border:1px solid $white;
        color: $brandPrimary;

        &.brand-red {
          border-color: $brandTertiary;
          background-color: $brandTertiary;
          color: $white;
        }

        &.brand-reverse {
          border-color: $white;
          background-color: $brandPrimary;
          color: $white;
        }
      }

      &.link-btn {
        background-color: $white;
        border:1px solid $white;
        color: $brandPrimary;

        &.inverse {
          background-color: $brandPrimary;
          border:1px solid $brandPrimary;
          color: $white;
        }

        &.primary {
          background-color: $brandPrimary;
          border-color: $brandPrimary;
          color: $white;
        }
      }
    }
  }
}
