/****************************************
*
* Services landing page stylesheet
*
*****************************************/

.contact-us {

  .contact-us-wrapper {
    padding: 0 15px 50px;
    max-width: 1200px;
    margin: 0 auto;

  }
}