/******************************************************************************************
*
*
*
*   Styles for devices below tablet portrait i.e. <= 767px
*
*
*
*******************************************************************************************/

body {

  /*&:before {
    content: '767 and below';
    position: fixed;
    z-index: 10000;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0.75);
  }*/


  footer {

  }
}