<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML - Structure - Contact us page template</title>

    <link href="../css/style.css" rel="stylesheet" type="text/css">

    <script src="../assets/js/lib/jQuery/jquery-3.2.1.min.js" type="application/javascript" language="JavaScript"></script>
    <script src="../assets/components/bootstrap-sass/assets/javascripts/bootstrap.min.js" type="application/javascript" language="JavaScript"></script>
</head>
<body>

<header>

</header>

<div class="main-content">

    <!-- Hero component -->
    <div class="row content-1 image">

        <div class="col-md-12 col-xs-12 hero">
            <div class="inner">
                <a href="#" title="">
                    <img class="feature-bg-image" src="http://via.placeholder.com/1200x331/fff/png" alt="" role="presentation" />
                    <h3>contact us</h3>
                </a>
            </div>
        </div>

    </div>
    <!-- End Hero component -->

    <!-- 1/2 - 1/2 component -->
    <div class="row content-2 type-6-6 ">

        <div class="col-md-6 col-xs-12 block">
            <div class="inner"><!-- Content goes here -->&nbsp;</div>
        </div>

        <div class="col-md-6 col-xs-12 block">
            <div class="inner"><!-- Content goes here -->&nbsp;</div>
        </div>

    </div>
    <!-- End 1/2 - 1/2 component -->

    <!-- 1/2 - 1/2 x 2 rows component -->
    <div class="row content-3 type-6-6x2 ">

        <div class="col-md-6 col-xs-12 block">
            <div class="inner rows-2"><!-- Content goes here -->&nbsp;</div>
        </div>

        <div class="col-md-6 col-xs-12 row">

            <div class="col-md-12 col-xs-12 block">
                <div class="inner"><!-- Content goes here -->&nbsp;</div>
            </div>

            <div class="col-md-12 col-xs-12 block">
                <div class="inner"><!-- Content goes here -->&nbsp;</div>
            </div>

        </div>

    </div>
    <!-- 1/2 - 1/2 x 2 rows component -->

    <!-- 1/2 - 1/2 component -->
    <div class="row content-4 type-6-6 ">

        <div class="col-md-6 col-xs-12 block">
            <div class="inner image">
                <img class="feature-bg-image" src="http://via.placeholder.com/570x371/fff/png" alt="" role="presentation" />
            </div>
        </div>

        <div class="col-md-6 col-xs-12 block">
            <div class="inner image">
                <img class="feature-bg-image" src="http://via.placeholder.com/570x371/fff/png" alt="" role="presentation" />
            </div>
        </div>

    </div>
    <!-- End 1/2 - 1/2 component -->



</div>

<footer>
    <div class="footer-row row">
        <div class="col-md-6 col-xs-12 footer-left">
            <div class="inner">
                <label for="sign-up">
                    <h3 class="newsletter-sign-up">sign up for our newsletter</h3>
                    <input id="sign-up" placeholder="enter your email" />
                </label>
                <div class="sponsor-logos">
                    <a class="lottery" href="#" title="Lottery Funded"><img src="http://via.placeholder.com/50/fff/png"></a>
                    <a class="lwf" href="#" title="London Wildlife Trust"><img src="http://via.placeholder.com/50/fff/png"></a>
                    <a class="tw" href="#" title="Thames Water"><img src="http://via.placeholder.com/50/fff/png"></a>
                    <a class="lbwf" href="#" title="Waltham Forest"><img src="http://via.placeholder.com/50/fff/png"></a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 footer-left">
            <nav class="inner footer-nav">
                <ul>
                    <li>contact</li>
                    <li>about</li>
                    <li>venue hire</li>
                    <li>business</li>
                    <li>volunteer</li>
                </ul>

                <p>Walthamstow Wetlands, 2 Forest Road, London  N17 9NH</p>

            </nav>


        </div>
    </div>

    <div class="footer-row row">
        <div class="col-md-12 col-xs-12">
            <div class="inner">
                <p>&copy;2017 Walthamstow Wetlands. All rights reserved.</p>
            </div>
        </div>
    </div>

</footer>

</body>
</html>