<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML - Structure - Home page template</title>

    <link href="../css/style.css" rel="stylesheet" type="text/css">

    <script src="../assets/js/lib/jQuery/jquery-3.2.1.min.js" type="application/javascript" language="JavaScript"></script>
    <script src="../assets/components/bootstrap-sass/assets/javascripts/bootstrap.min.js" type="application/javascript" language="JavaScript"></script>
</head>
<body class="page-name">

    <header>
        <nav role="navigation" aria-labelledby="block-wetlands-main-menu-menu" id="block-wetlands-main-menu" class="contextual-region block block-menu navigation menu--main navbar navbar-default">

            <div class="content container container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Wetlands</a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="clearfix nav navbar-nav navbar-right">
                    <li>
                        <a href="/" data-drupal-link-system-path="<front>" class="is-active">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="/plan-your-visit" class="dropdown-toggle" data-toggle="dropdown" data-drupal-link-system-path="node/2">Plan your visit</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/opening-times-and-prices" data-drupal-link-system-path="node/8">Opening times &amp; prices</a>
                            </li>
                            <li>
                                <a href="/how-to-get-here" data-drupal-link-system-path="node/9">How to get here</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/things-to-do" data-drupal-link-system-path="node/3">Things to do</a>
                    </li>
                    <li>
                        <a href="/support-us" data-drupal-link-system-path="node/4">Support us</a>
                    </li>
                    <li>
                        <a href="/learn" data-drupal-link-system-path="node/5">Learn</a>
                    </li>
                    <li>
                        <a href="/about-us" data-drupal-link-system-path="node/6">About us</a>
                    </li>
                    <li>
                        <a href="/contact-us" data-drupal-link-system-path="node/7">Contact us</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-content">

        <!-- Hero component -->
        <div class="row content-1 homepage-hero image">

            <div class="col-md-12 col-xs-12 hero">
                <div class="inner">
                    <img src="http://via.placeholder.com/1280x750/fff/png"/>
                </div>
            </div>

        </div>
        <!-- End Hero component -->

        <!-- 1/3 - 2/3 component -->
        <div class="row content-2 type-4-8 ">

            <div class="col-md-4 col-xs-12 block">
                <div class="inner">
                    <img class="topic-icon" src="http://via.placeholder.com/56/fff/png" alt="" role="presentation" />
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam maximus interdum porta. Sed feugiat
                        sagittis congue. Mauris porttitor pulvinar tincidunt. Sed viverra vitae nisl eget dapibus. Etiam malesuada,
                    </p>
                    <p>
                        Phasellus ultricies magna id rutrum bibendum. Etiam blandit tellus ipsum, eu viverra nibh consectetur
                        sit amet. Nullam ipsum elit, porttitor sit amet imperdiet vel,
                    </p>

                    <button class="btn more-btn">find out more</button>&nbsp;
                </div>
            </div>

            <div class="col-md-8 col-xs-12 block image">
                <div class="inner">
                    <a href="#" title="">
                        <img class="feature-bg-image" src="http://via.placeholder.com/770x371/fff/png" alt="" role="presentation" />
                        <h3>plan your visit</h3>
                    </a>
                </div>
            </div>

        </div>
        <!-- End 1/3 - 2/3 component -->

        <!-- 2/3 - 1/3 component -->
        <div class="row content-3 type-8-4 ">

            <div class="col-md-8 col-xs-12 block image">
                <div class="inner">
                    <a href="#" title="">
                        <img class="feature-bg-image" src="http://via.placeholder.com/770x371/fff/png" alt="" role="presentation" />
                        <h3>things to do</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 block">
                <div class="inner">
                    <img class="topic-icon" src="http://via.placeholder.com/56/fff/png" alt="" role="presentation" />
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam maximus interdum porta. Sed feugiat
                        sagittis congue. Mauris porttitor pulvinar tincidunt. Sed viverra vitae nisl eget dapibus. Etiam malesuada,
                    </p>
                    <p>
                        Phasellus ultricies magna id rutrum bibendum. Etiam blandit tellus ipsum, eu viverra nibh consectetur
                        sit amet. Nullam ipsum elit, porttitor sit amet imperdiet vel,
                    </p>

                    <button class="btn more-btn">find out more</button>&nbsp;
                </div>
            </div>

        </div>
        <!-- End 2/3 - 1/3 component -->

        <!-- full width 4 x 1/4 below component  -->
        <div class="row content-4 type--12-3-3-3-3">

            <div class="col-md-12 col-xs-12 block outer">

                <div class="row inner-grid">

                    <div class="col-md-12 col-xs-12 block">
                        <div class="inner">
                            <a href="#" title=""><h3>getting here</h3></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 block ">
                        <div class="inner image">
                            <a href="#" title="">
                                <img src="http://via.placeholder.com/74x100/fff/png" alt="" role="presentation" />
                                <h4>train</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 block ">
                        <div class="inner image">
                            <a href="#" title="">
                                <img src="http://via.placeholder.com/74x100/fff/png" alt="" role="presentation" />
                                <h4>walk</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 block ">
                        <div class="inner image">
                            <a href="#" title="">
                                <img src="http://via.placeholder.com/74x100/fff/png" alt="" role="presentation" />
                                <h4>cycle</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 block ">
                        <div class="inner image">
                            <a href="#" title="">
                                <img src="http://via.placeholder.com/74x100/fff/png" alt="" role="presentation" />
                                <h4>car</h4>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- full width 4 x 1/4 below component  -->

        <!-- f3 x 1/3 component -->
        <div class="row content-5 type-4-4-4">

            <div class="col-md-4 col-xs-12 block ">
                <div class="inner image">
                    <a href="#" title="">
                        <img class="feature-bg-image" src="http://via.placeholder.com/370x370/fff/png" alt="" role="presentation" />
                        <h3>angling</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 block ">
                <div class="inner image">
                    <a href="#" title="">
                        <img class="feature-bg-image" src="http://via.placeholder.com/370x370/fff/png" alt="" role="presentation" />
                        <h3>bird watching</h3>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 block ">
                <div class="inner image">
                    <a href="#" title="">
                        <img class="feature-bg-image" src="http://via.placeholder.com/370x370/fff/png" alt="" role="presentation" />
                        <h3>volunteering</h3>
                    </a>
                </div>
            </div>

        </div>
        <!-- End f3 x 1/3 component -->

    </div>

    <footer>
        <div class="footer-row row">
            <div class="col-md-6 col-xs-12 footer-left">
                <div class="inner">
                    <label for="sign-up">
                        <h3 class="newsletter-sign-up">sign up for our newsletter</h3>
                        <input id="sign-up" placeholder="enter your email" />
                    </label>
                    <div class="sponsor-logos">
                        <a class="lottery" href="#" title="Lottery Funded"><img src="http://via.placeholder.com/50/fff/png"></a>
                        <a class="lwf" href="#" title="London Wildlife Trust"><img src="http://via.placeholder.com/50/fff/png"></a>
                        <a class="tw" href="#" title="Thames Water"><img src="http://via.placeholder.com/50/fff/png"></a>
                        <a class="lbwf" href="#" title="Waltham Forest"><img src="http://via.placeholder.com/50/fff/png"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 footer-left">
                <nav class="inner footer-nav">
                    <ul>
                        <li>contact</li>
                        <li>about</li>
                        <li>venue hire</li>
                        <li>business</li>
                        <li>volunteer</li>
                    </ul>

                    <p>Walthamstow Wetlands, 2 Forest Road, London  N17 9NH</p>

                </nav>


            </div>
        </div>

        <div class="footer-row row">
            <div class="col-md-12 col-xs-12">
                <div class="inner">
                    <p>&copy;2017 Walthamstow Wetlands. All rights reserved.</p>
                </div>
            </div>
        </div>

    </footer>

</body>
</html>