<div>    
  <nav role="navigation" aria-labelledby="block-wetlands-main-menu-menu" id="block-wetlands-main-menu" class="contextual-region block block-menu navigation menu--main">               
    <h2 class="visually-hidden" id="block-wetlands-main-menu-menu">Main navigation</h2>  
    <div data-contextual-id="block:block=wetlands_main_menu:langcode=en|menu:menu=main:langcode=en" class="contextual" role="form">
      <button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open Main navigation configuration options
      </button>
      <ul class="contextual-links" hidden="">
        <li class="block-configure">
          <a href="/admin/structure/block/manage/wetlands_main_menu?destination=node/1">Configure block</a>
        </li>
        <li class="entitymenuedit-form">
          <a href="/admin/structure/menu/manage/main?destination=node/1">Edit menu</a>
        </li>
      </ul>
    </div>      
    <div class="content">        
      <div class="menu-toggle-target menu-toggle-target-show" id="show-block-wetlands-main-menu">
      </div>    
      <div class="menu-toggle-target" id="hide-block-wetlands-main-menu">
      </div>    
      <a class="menu-toggle" href="#show-block-wetlands-main-menu">Show — Main navigation</a>    
      <a class="menu-toggle menu-toggle--hide" href="#hide-block-wetlands-main-menu">Hide — Main navigation</a>                   
      <ul class="clearfix">              
        <li>        
        <a href="/" data-drupal-link-system-path="<front>" class="is-active">Home</a>              
        </li>          
        <li>        
        <a href="/plan-your-visit" data-drupal-link-system-path="node/2">Plan your visit</a>                                
        <ul>              
          <li>        
          <a href="/opening-times-and-prices" data-drupal-link-system-path="node/8">Opening times &amp; prices</a>              
          </li>          
          <li>        
          <a href="/how-to-get-here" data-drupal-link-system-path="node/9">How to get here</a>              
          </li>        
        </ul>                 
        </li>          
        <li>        
        <a href="/things-to-do" data-drupal-link-system-path="node/3">Things to do</a>              
        </li>          
        <li>        
        <a href="/support-us" data-drupal-link-system-path="node/4">Support us</a>              
        </li>          
        <li>        
        <a href="/learn" data-drupal-link-system-path="node/5">Learn</a>              
        </li>          
        <li>        
        <a href="/about-us" data-drupal-link-system-path="node/6">About us</a>              
        </li>          
        <li>        
        <a href="/contact-us" data-drupal-link-system-path="node/7">Contact us</a>              
        </li>        
      </ul>     
    </div>
  </nav>  
</div>