/******************************************************************************************
*
*
*
*   Styles for mobile down i.e. < 480px
*
*
*
*******************************************************************************************/

body {

  /*&:before {// TODO: remove for test only
    content: 'Mobile only < 480px';
    position: fixed;
    z-index: 10000;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0.75);
    @include font-size(24);
    color: red;
  }*/

}