footer {
  //border:1px solid gold; //debugging code
  max-width: 1200px;
  margin: 60px auto 0!important;
  height:300px;

  .footer-row {
    position: relative;

    &.footer-bg {
      background: $lightGreyBg;
      margin:0;
      height:120px;

      .footer-left {

        h4 {
          margin: 22px 0 0 30px;
          font-family: $montserrat-font;
          @include font-size(20);
          font-weight: $light;
        }

        a {

          &.btn {
            margin: 11px 0 0 30px;
            @include border-radius(4px);
            color: $white;
            background: $primaryBlueGrey;
            display: inline-block;
            height: 38px;
            font-family: "Montserrat", sans-serif;
            @include font-size(21);
            font-weight: $light;
            padding: 0 20px;
            line-height: 38px;
            border: none;
            outline: none;
          }
        }
      }
    }

    .sponsor-logos {
      margin: 0 0 39px 0;

      a{
        margin-right: 15px;
        display: inline-block;
        height:45px;

        img {
          height:45px;
        }

        &.lottery {
          margin-right: 20px;
        }

        &.lwf {
        }

        &.tw {
        }
        
        &.lbwf {
        }
      }
    }

    .footer-nav {
      padding:0;

      ul {
        list-style: none;
        padding: 0;

        li {
          display: inline-block;
          border-right:2px solid $primaryBlueGrey;
          padding:0 10px;
          height: 20px;
          line-height: 20px;

          &:last-child {
            border: none;
          }

          a {
            color: $primaryBlueGrey;
            @include font-size(20);
            font-weight: $light;
          }
        }
      }
    }

    .address-line {

      p {
        text-align: right;
        padding: 50px 63px 0 0;
      }
    }
  }

  .copyright{
    position: absolute;
    bottom:10px;

    p {
      font-size: $sub-text;
    }
  }

}

.subpage {

  footer {
    max-width: 1200px;
    margin: 60px auto 0;
  }
}