


.homepage-hero {

  h2 {

    &.page-heading {
      color: $white;
      @include font-size(120);
      font-size: 10vw;
      text-align: center;
      margin-top: 280px;
      font-weight: $light;
    }
  }

  p {
    color: $white;
    text-align: center;
    @include font-size(24);
    font-weight: $light;

    &.page-subhead {
      margin-top:-0vh;
    }

    &.byline {
      margin-top:80px;
    }
  }

  a {

    &.find-out-more {
      text-align: center;
      color: $white;
      @include font-size(20);
      @include centerH;
      top: 627px;
      display: inline-block;
      height:50px;
      background: transparent url("#{$pathToImages}/down-pointer.png") center 33px no-repeat;
    }
  }

  .social-media {
    position: absolute;
    top:584px;
    color: $white;

    a {
      color: $white;
      @include font-size(50);
      margin-right: 25px;

      &:hover {

        i {
          color: $primaryYellow;
        }
      }
    }

    p {
      @include font-size(18);
    }
  }
}
