/****************************************
*
* Global stylesheet
*
*****************************************/

header {

}

.social {

  &.side-by-side {
    justify-content: flex-end;
  }

  .social-buttons {
    margin:20px 40px 0 0;

    a {

      &.social-btn {
        @include border-radius(14px);
        @include font-size(16);
        border:2px solid $linkColor;
        display: inline-block;
        width: 28px;
        height: 28px;
        text-align: center;
        color: $linkColor;
        line-height: 26px;

        &:first-child {
          margin-right: 10px;
        }

        &:hover {
          border-color: $brandLimeGreen;
          color: $brandLimeGreen;
        }
      }
    }
  }
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;

  a {

    &.logo {

      h1 {
        width: 400px;
        height:79px;
        margin: 10px 0;
        background: transparent url("#{$pathToImages}/service-store-logo.png") 0 0 no-repeat;
        background-size: 400px 79px;
        text-indent: -10000px;
      }
    }
  }
}

.hero {
  position: relative;
  height: 549px;
  overflow: hidden;

  img {

    &.hero-img {
      object-fit: cover;
      width: 100%;
      min-height: 549px;
    }
  }

  .hero-caption {
    position: absolute;
    top:16.1%;
    background-color: $heroCaptionBg;
    width:100%;
    text-align: center;
    padding-bottom: 16px;

    h2 {
      @extend .light-italic;
      @include font-size(55);
      margin: 10px 0;
      padding: 10px 0 5px;
    }

    span {
      @extend .regular;
      @include font-size(22);
    }
  }

  .btn-row {
    position: absolute;
    top: 280px;
    @include centerH;
  }

  .bottom-teardrop {
    position: absolute;
    bottom:0;
    height:88px;
    width:100%;
    background: transparent url("#{$pathToImages}/teardrop-bottom.png") center top no-repeat;
  }
}





.testimonials {
  position: relative;
  min-height: 675px;
  background-size: cover;

  .top-teardrop {
    position: absolute;
    z-index: 1;
    top:0;
    height:88px;
    width:100%;
    background: transparent url("#{$pathToImages}/teardrop-top.png") top center no-repeat;
  }


  .testimonials-inner {
    @extend .side-by-side;

    .testimonials-container {
      width: 33.33%;
      min-width: 320px;

      .testinonial {
        width: 85%;
        margin: 100px auto 0;

        .testimonial-text {
          width: 100%;
          border: 5px solid $brandGreen;
          @include border-radius(25px);
          //background-color: rgba(255,255,255,0.8);
          background-color: $white;
          position: relative;
          padding: 40px 50px;
          min-height: 250px;
          margin-bottom: 55px;

          &:after {
            position: absolute;
            content: ' ';
            display: block;
            height: 30px;
            width:30px;
            border-left: 5px solid $brandGreen;
            border-bottom: 5px solid $brandGreen;
            @include border-radius(5px);
            background-color: $white;
            left: 40px;
            bottom: -18px;
            transform: rotate(-45deg)
          }

          p {
            @include font-size(21);
            @extend .semi-bold-italic;
            color: $brandPurple;
            background: url("#{$pathToImages}/pull-quotes-open.png")left top no-repeat transparent ;

            span {
              padding: 0 20px;
              background: url("#{$pathToImages}/pull-quotes-close.png")right top no-repeat transparent;
            }
          }
        }

        .testimonial-img {
          display: inline-block;
          width:64px;
          height:64px;
          vertical-align: middle;
          position: relative;
          top: -21px;

        }

        .name {
          position: relative;
          display: inline-block;
          padding-top: 20px;
          margin-left:15px;

          .testimonial-name,
          .post-code {
            display: block;
            @include font-size(24);
            @extend .semi-bold-italic;
            color: $white;
          }
        }
      }
    }
  }
}



.section-bg-img-full {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.section-bg-img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 60%;
  z-index: 0;

  img {
    object-fit: cover;
    height: 100%;
  }

  &.left {
    left:0;
  }

  &.right {
    right: 0;
  }
}

.section-bg-grad {
  position: absolute;
  top: 0;
  height: 100%;
  width: 55%;
  z-index: 1;

  &.left {
    left:0;
    @extend .l-to-r-grad;
  }

  &.right {
    right: 0;
    @extend .r-to-l-grad;
  }

  &+ div {
    position: relative;
    z-index: 1;
  }
}

//teardrop backgrounds
.top-teardrop {
  position: absolute;
  z-index: 1;
  top:0;
  height:88px;
  width:100%;
  background: transparent url("#{$pathToImages}/teardrop-top.png") top center no-repeat;
}

.bottom-teardrop {
  position: absolute;
  bottom:0;
  height:88px;
  width:100%;
  background: transparent url("#{$pathToImages}/teardrop-bottom.png") center top no-repeat;
}


footer {
  background-color: $greyBg;
  min-height: 300px;

  .footer-inner {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;

    .footer-logo {
      padding-top: 43px;
    }

    .footer-nav {
      @extend .side-by-side;
      justify-content: flex-start;

      div {
        margin-right: 75px;
      }

      h4 {
        @extend .regular;
        @include font-size(24);
        color: $brandGreen;
        margin: 20px 0;
      }

      ul {
        list-style: none;
        padding: 0;

        li {

          a {
            @extend .regular;
            @include font-size(18);
            color: $linkColor;

            &:hover {
              color: $linkColorHover;
            }
          }
        }
      }
    }

    .copyright {
      padding: 10px 0;
    }
  }
}