section {

  &.lt-blue-back {

    div {

      &.wysiwyg {

        a {
          color: $white;
        }
      }
    }
  }

  div {

    &.wysiwyg {
      display: block!important;
      //border: 1px solid red;
      font-family: $Roboto-font;
      font-weight: $regular;

      a {
        display: inline;
      }

      &.inner {
        margin: 30px 0;
      }

      h4 {
        margin: 50px 0;
        @include font-size(24);
      }

      li,
      p {
        @include font-size(18);
        margin: 10px 0;
      }


      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 17px;

        ul {
          list-style: none;
          padding: 0;
          width: 50%;

          &:first-child {
            margin-right: 20px;
          }
        }
      }

      ul {
        list-style: none;
        margin:30px 0;
        
        li {
          position: relative;
          margin-bottom: 6px;
          
          &:before {
            content: '';
            position: absolute;
            top: 8px;
            left:-40px;
            display: block;
            width: 9px;
            height: 9px;
            background: transparent url("#{$pathToImages}/tq-bullet-point.png") 0 0 no-repeat;
            background-size: 9px 9px;
            
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  section {

    div {

      &.wysiwyg {

        div {
          flex-direction: column;
          justify-content: center;
          margin-bottom: 30px;

          ul {
            margin: 0;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 768px) {

  section {

    div {

      &.wysiwyg {

        div {
          margin-bottom: 30px;

          ul {
            margin: 0;
          }
        }
      }
    }
  }
}

