// Media Queries in Sass 3.2
//
// These mixins make media queries a breeze with Sass.
// The media queries from mobile up until desktop all
// trigger at different points along the way
//
// And important point to remember is that and width
// over the portrait width is considered to be part of the
// landscape width. This allows us to capture widths of devices
// that might not fit the dimensions exactly. This means the break
// points are seamless.

$mq-mobile-portrait		: 320px !default;
$mq-mobile-landscape	: 480px !default;
$mq-tablet-portrait		: 768px !default;
$mq-screen-md           : 992px !default;
$mq-tablet-landscape	: 1024px !default;
$mq-screen-std          : 1200px !default;
$mq-desktop				: 1382px !default;
$mq-iPhone-6-portrait   : 375px  !default;
$mq-iPhone-6-landscape  : 667px  !default;
$mq-iPhone-6p-portrait   : 414px  !default;
$mq-iPhone-6p-landscape  : 736px  !default;

$ipad-pro-portrait-breakpoint: "(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px)";
$ipad-pro-landscape-breakpoint: "(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1366px) and (max-width: 1366px)";

$ipad-pro-10-portrait-breakpoint: "(min-device-width : 1668px) and (max-device-width : 1668px) and (min-device-height : 2224px) and (max-device-height : 2224px) and (min-width: 1668px) and (max-width: 1668px)";
$ipad-pro-10-landscape-breakpoint: "(min-device-width : 1668px) and (max-device-width : 1668px) and (min-device-height : 2224px) and (max-device-height : 2224px) and (min-width: 2224px) and (max-width: 2224px)";

//mixins

// Both portrait and landscape
@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// iPhon6
@mixin iPhone6-portrait-only {
  @media (max-width : $mq-iPhone-6-portrait) {
    @content;
  }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
  @media (min-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
  @media only screen and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
  @media only screen and (min-width : $mq-mobile-portrait + 1) {
    @content;
  }
}

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything 992 and below
@mixin screen-md-and-below {
  @media only screen and (max-width : $mq-screen-md) {
    @content;
  }
}

// Everything 1200 and below
@mixin screen-std-and-below {
  @media only screen and (min-width : $mq-screen-md - 1) and (max-width: $mq-screen-std) {
    @content;
  }
}

// Everything below tablet portrait i.e. <768
@mixin tablet-portrait-below {
  @media only screen and (max-width : $mq-tablet-portrait - 1) {
    @content;
  }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
  @media only screen and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
  @media only screen and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
  @media only screen and (min-width : $mq-tablet-portrait + 1) {
    @content;
  }
}

// Everything larger than a landscape tablet
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

// Everything below and including the desktop
@mixin desktop-and-below {
  @media only screen and (max-width : $mq-desktop) {
    @content;
  }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-only {
  @media only screen and (min-width : $mq-tablet-landscape + 1) and (max-width : $mq-desktop) {
    @content;
  }
}

//iPad Pro portrait
@mixin ipad-pro-portrait {
  @media only screen and #{$ipad-pro-portrait-breakpoint} {
    @content;
  }
}

//iPad Pro Landscape
@mixin ipad-pro-landscape {
  @media only screen and #{$ipad-pro-landscape-breakpoint} {
    @content;
  }
}

//iPad 10.5 Pro portrait
@mixin ipad-pro-10-portrait {
  @media only screen and #{$ipad-pro-10-portrait-breakpoint} {
    @content;
  }
}

//iPad 10.5 Pro Landscape
@mixin ipad-pro-10-landscape {
  @media only screen and #{$ipad-pro-10-landscape-breakpoint} {
    @content;
  }
}

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}
@mixin retina2 {
  @media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
    @content;
  }
}



/* Init media queries */

// Everything below and including the portrait width of the tablet
/*@include tablet-portrait-and-below {

  @import "media-queries/tablet-portrait-down";

}*/

// Everything above and including the portrait width of the tablet
/*@include tablet-portrait-and-up {

  @import "media-queries/tablet-portrait-up";

}*/

// Up to and including the tablet landscape
/*@include tablet-landscape-and-below {

  @import "media-queries/tablet-landscape-down";

}*/

/*@include tablet-portrait-only {

  @import "media-queries/tablet-portrait-only";

}*/

/*@include ipad-pro-portrait {

  @import "media-queries/iPad-pro-portrait";

}*/

/*@include desktop-and-up {

  @import "media-queries/desktop-and-up";

}*/

@include screen-std-and-below {
  @import "media-queries/std-screen-down";
}

@include screen-md-and-below {

  @import "media-queries/md-screen-down";

}

@include tablet-portrait-below {
  @import "media-queries/tablet-portrait-down";
}

// Both portrait and landscape
@include mobile-only {

  @import "media-queries/mobile-only";

}

/*@include retina2 {

  @media only screen and (min-width: 834px) and (orientation: portrait) {

    @import "media-queries/iPad-pro-portrait";

  }
}*/

