$baseFontSize:  10px;

$constrainedWidth:  1200px;

$iconSprite:            '../assets/images/icon-sprite.png';
$sizeOfSprite:          420px 140px;

$pathToImages:          '../assets/images';
$pathToFonts:           '../assets/fonts';
$pathToComponents:      '../assets/components';
$pathToBootstrap:       '../assets/components/bootstrap-sass';
$pathToFlexslider:      '../assets/components/flexslider-scss';
$flex-slider-font-path: '../assets/components/flexslider-scss/fonts' !default;
$fa-font-path:          '../assets/components/font-awesome/fonts';
$fa-font-path:          '../assets/components/font-awesome/fonts';

