/******************************************************************************************
*
*
*
*   Styles for devices below tablet portrait i.e. <= 767px
*
*
*
*******************************************************************************************/

body {
width: 100%;

  /*&:before {
    content: 'below 767';
    position: fixed;
    top:0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1000;
  }*/

  .page-wrapper {
    position: relative;

    h1 {
      left: 50%;
      transform: translateX(-50%);
    }

    header {

      .hero {
        height:650px;

        .hero-slider {

          &.slider {

            ul {

              &.slides {

                li {

                  &.slide {

                    .slide-inner {

                      picture {

                        img {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .hero-panel {
          width:85%;
          height: auto;
          top:450px;

          h2 {
            @include font-size(28);
          }
        }
      }
    }

    .place-for-everyone,
    .affordable-homes {
      height:1100px;

      .place-for-everyone-panel,
      .affordable-homes-panel {
        width: 85%;
        padding: 30px;

        h2 {
          padding-top: 90px;
        }

        .wysiwyg {

          p {
            padding: 0;
          }
        }
      }
    }

    .building-communities {
      height:1260px;

      .building-communities-panel {
        width: 85%;
        padding: 30px;

        h2 {
          padding-top: 90px;
        }

        .wysiwyg {

          p {
            padding: 0;
          }
        }
      }
    }

    .content-slider {
      height: 800px;

      .fixed-width-content {

        &.slider {

          .flexslider {

            ul {

              &.slides {

                li {

                  &.slide {

                    .slide-inner {

                      .slide-content {
                        padding-top: 50px;

                        .wysiwyg {
                          padding:0;

                          p {
                            padding: 0;
                          }
                        }
                        .btn-wrapper {

                          a {
                            width: 100%;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

    }

    .quotes {
      height:1200px;

      .quotes-inner {
        width: 85%;
        padding:0;

        p {
          @include font-size(28);
        }
      }
    }

    footer {
      height: 350px;

      .sticky-footer {
        height: 120px;
        flex-direction: column-reverse;
        align-items: center;

        & > div {
        }

        &.fixed {
          position: static;
        }
      }

      .footer-footer {
        height:175px;
        padding:10px 36px;
        margin-top: 90px;
        grid-template-rows: 33.333% 33.333% 33.333%;
        grid-template-columns: 100%;
        grid-template-areas:
        "logos"
        "navigation"
        "copyright";

        .footer-nav {

          ul {
            justify-content: center;
          }
        }

        .logos {
          text-align: center;
        }
        .copyright {

          p {
            text-align: center;
          }
        }
      }
    }
  }
}