//hero carousel

.hero {

  .hero-caroulel-wrapper,
  .flexslider .slides,
  .flex-viewport {
    height: 100%;
  }

  .flexslider {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;

    .slides {

      & > li {
        height: 100%;
        width: 100%;
      }
    }

    .flex-control-nav {
      bottom:0;
      z-index: 2;

      &.flex-control-paging {
        text-align: right;
        padding-right: 20px;
        li {

          a {
            background-color: rgba(255,255,255,0.5);
            color: transparent;

            &.flex-active {
              background-color: rgba(255,255,255,0.9);
            }
          }
        }
      }
    }
  }
}

@media only screen and(min-width: 992px) and (max-width : 1200px) {

  .main-content {

    .offers {

      .offers-content {

        .offers-wrapper {

          .flexslider {

            .slides {

              & > li {
                width: 46.35vw!important;
                margin-right: 2.5vw!important;

                div {

                  a {
                    width:42vw;
                    overflow: hidden!important;

                    img {
                      object-fit: cover!important;
                      height: 100%!important;
                    }
                  }
                }
              }
            }

            .flex-viewport {
              width: calc(95vw + 17px);
            }
          }
        }
      }
    }
  }
}

// Offers
.stories,
.offers {

  .flexslider .slides,
  .flex-viewport {
    height: 370px;
  }

  .flexslider {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 370px;
    border: 0;
    overflow: visible;

    .slides {

      & > li {
        position: relative;
        height: 370px;
        width: 555px;
        margin-right: 30px;
      }
    }

    .flex-direction-nav {

      li {

        a {
          top:125%;
          width:13px;
          height: 15px;
          text-indent: -10000px;

          &.flex-prev {
            background: transparent url("#{$pathToImages}/blue-arrow-left-x2.png") 0 0 no-repeat;
            background-size: 13px 15px;
            text-indent: -10000px;
            left:40%;
          }

          &.flex-next {
            background: transparent url("#{$pathToImages}/blue-arrow-right-x2.png") 0 0 no-repeat;
            background-size: 13px 15px;
            text-indent: 10000px;
            right:40%;
          }
        }
      }
    }

    .flex-control-nav {
      display: none;
    }
  }
}



// general
.flexslider {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  width:100%;
  height:100%;
}

.flex-direction-nav a  {
  text-decoration:none;
  text-indent: -10000px;
  display: block;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 42px 42px;
  width: 42px;
  height: 42px;
  margin: -20px 0 0;
  position: absolute;
  top: 43%;
  z-index: 10;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
  color: rgba(0,0,0,0.8);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

/*.flex-direction-nav .flex-prev {
  background-image: url("#{$pathToImages}/arrow-left.png");
  left: -50px;

  &:hover {
    background-image: url("#{$pathToImages}/arrow-left-lg.png");
  }
}

.flex-direction-nav .flex-next {
  background-image: url("#{$pathToImages}/arrow-right.png");
  text-indent: 10000px;
  right: -50px;
  text-align: right;

  &:hover {
    background-image: url("#{$pathToImages}/arrow-right-lg.png");
  }
}*/

.flex-direction-nav a:before  {
  content: none;

}

.flex-direction-nav a.flex-next:before  {
  content: none;
}

.flex-direction-nav a:hover {
  opacity: 0.7;
}

.flexslider:hover .flex-prev { opacity: 1; left: -50px; }
.flexslider:hover .flex-next { opacity: 1; right: -50px; }
/*
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }*/
