


body {
  /*width: 1200px;*/

  .main-content {
    margin: 0 15px;
  }


  .hero {

    .inner {
      height:500px;
    }
  }

  .block {

    .inner {
      height: 400px;

      &.rows-2 {
        height:830px; // 2 x inner height + row spacing
      }

      .block {
        border:1px solid silver;
        height:200px;
      }
    }
  }

  .map {

    .block {

      .inner {
        margin:0 -15px;
      }
    }
  }

  .outer {

    .inner-grid {
    }

    .inner {
      height:auto;
      min-height: 400px;
    }
  }

  .inner {
    background-color: $lt-grey;
    margin:15px 0;
    padding:20px 15px;
  }

  footer {

    .footer-nav {
      overflow: hidden;

      ul {
        list-style: none;
        float: right;
        clear: both;

        li {
          display: inline-block;
          padding: 0 10px;
          border-right: 1px solid black;

          &:last-child {
            border: none;
          }
        }
      }
    }
  }

}
